body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0D2438; 
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.contact-button:hover {
  background-color: #0056b3;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #102A3E; 
  position: relative;
  padding: 0;
  height: 150px;
  overflow: hidden;
}

.top-bar,
.bottom-bar {
  width: 100%;
  height: 20px; 
  background-color: #0D2438; 
}

.content {
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 2;
}

h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  margin: 0;
}

.small-image {
  width: 30px; 
  height: auto;
}

.animated-title {
  animation: slideIn 1s ease-out; 
  position: relative;
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes rgbText {
  0% {
      color: red;
  }
  33% {
      color: green;
  }
  66% {
      color: blue;
  }
  100% {
      color: red;
  }
}

.subtitle {
  font-size: 1.5rem;
  margin: 10px 0 0;
  color: white;
  animation: rgbText 0.8s infinite; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: transform 0.3s ease; 
}

.subtitle:hover {
  transform: scale(1.1); 
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  flex: 1; /* Zorgt ervoor dat de hoofdinhoud de beschikbare ruimte opvult */
}

.film-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.film {
  margin: 15px;
  transition: transform 0.3s;
}

.film:hover {
  transform: scale(1.05);
}

.film img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-size: 1.2em;
}